/* reset.css */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  justify-content: center;
  background: #f5f6f7;
  color: #111;
  font-family: Arial, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}